body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-62px;
  width:1146px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:352px;
}
#u4378 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:146px;
  width:1146px;
  height:352px;
  display:flex;
}
#u4378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:110px;
}
#u4379 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:524px;
  width:1146px;
  height:110px;
  display:flex;
}
#u4379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4380 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:112px;
  width:1146px;
  height:34px;
  display:flex;
}
#u4380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4381 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:119px;
  width:37px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4381_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u4382 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:113px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u4382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4383 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:172px;
  width:300px;
  height:42px;
  display:flex;
}
#u4383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4384 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:268px;
  width:300px;
  height:42px;
  display:flex;
}
#u4384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4385 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:498px;
  width:192px;
  height:20px;
  display:flex;
}
#u4385 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4385_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
