body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-99px;
  width:1716px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:136px;
  width:1712px;
  height:1181px;
}
#u2830_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1712px;
  height:1181px;
  overflow:auto;
}
